
<div class="vertical-center">
    <div class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <p class="text-muted small">Tells us your Story</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <a href="/signup" class="btn btn-success btn-lg btn-block">Sign up</a>
                </div>
                <div class="col-md-3">
                    <a href="/login" class="btn btn-primary btn-lg btn-block">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
